/* ============================== pages */

.contacts {
  padding-top: 100px;
  padding-bottom: 110px;
}

.contacts__container {
}

.contacts__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}

.contacts__body {
}

.contacts__text {
  margin-top: 80px;
  font-size: 23px;
  color: #333333;
  letter-spacing: 0.01em;
}

@media (max-width: 767.98px) {
  .contacts__title {
    font-size: 30px;
  }

  .contacts__text {
    margin-top: 40px;
    font-size: 20px;
  }
}

/* ============================== */
