/* ============================== pages */

.contacts {
  padding-top: 100px;
  padding-bottom: 110px;
}

.contacts__container {
}

.contacts__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}

.contacts__body {
  display: flex;
  margin-top: 50px;
}

.contacts__text {
  margin-top: 80px;
  font-size: 23px;
  color: #333333;
  letter-spacing: 0.01em;
}

.maps_container {
  margin-top: 20px;
  margin-left: 100px;
  border-color: black;
}

.maps_body {
  width: 400px;
  height: 300px;
}

@media (max-width: 767.98px) {
  .contacts__title {
    font-size: 30px;
  }

  .contacts__text {
    margin-top: 40px;
    font-size: 20px;
  }

  .contacts__body {
    flex-direction: column;
    margin-top: 50px;
  }
  .maps_container {
    width: 100%;
    justify-content: center;
    margin-left: 0px;
  }
  .maps_body {
    width: 300px;
    height: 300px;
  }
}

/* ============================== */
