.product_content {
  display: flex;
  justify-content: space-between;
}

.images_featured__item img {
  max-width: 100%;
}

.product_image_desc {
}

.product_text_body {
}

.product_text_title {
}

.product_items {
}

.product_item {
}

.product_text_subtitle {
}

.product_text_desc {
}
