/* ============================== */

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
}

.title_center {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

/* ============================== */
