/* ============================== */

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.375;
}

.title_center {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
}

/* ============================== */

@media (max-width: 320px) {
  .title_center {
    line-height: 1.5;
    font-size: 20px;
  }
}
