/* ============================== */

.main_block {
  padding-bottom: 110px;
}

.main_block__container {
  padding-top: 100px;
  position: relative;
}

.main_block__body {
  margin-bottom: 14px;
}
.main_block__partners {
}

.body_main_block {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}
.body_main_block__content {
  flex: 0 1 50%;
}

.content_main_block {
  padding-top: 40px;
  position: relative;
  z-index: 2;
}
.content_main_block_body {
  padding-right: 80px;
}
.content_main_block__sub_title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #ff9900;
  margin-bottom: 20px;
}
.content_main_block__title {
  font-size: 54px;
  font-weight: 800;
  line-height: 73px;
  margin-bottom: 20px;
}

.content_main_block__text {
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-bottom: 45px;
}
.content_main_block__form {
}

.form_main_block {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: -188px;
  height: 86px;
  background: #ffffff url("/images/home.svg") 33px 32px no-repeat;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222),
    0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form_main_block__input {
  height: 86px;
  padding: 0px 0px 0px 74px;
  background-color: transparent;
  width: 100%;
  font-size: 20px;
  flex: 1 1 auto;
  border: 1px solid #dadada;
}
.form_main_block__input::placeholder {
  color: #9f9f9f;
}
.form_main_block__button {
  transition: all 0.3s ease 0s;
  height: 86px;
  cursor: pointer;
  width: 188px;
  flex: 0 0 188px;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  background-color: #f85a47;
}

.form_main_block__button:hover {
  background-color: #b9473a;
}

.body_main_block__slider {
  flex: 0 1 50%;
  min-width: 0;
}

.slider_main_block {
}
.slider_main_block__wrapper {
}
.slider_main_block__slide {
  position: relative;
  padding-bottom: 95%;
}

.slider_main_block__slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body_main_block__arrows {
  position: absolute;
  bottom: -52px;
  right: 0;
  display: flex;
  gap: 40px;
  align-items: center;
}

.body_main_block__arrow.swiper_button_prev,
.body_main_block__arrow.swiper_button_next {
  position: static;
  height: 20px;
  width: 11px;
}

.body_main_block__arrow::after {
  display: none;
}

.body_main_block__arrow.swiper_button_prev {
  transform: rotate(-180deg);
}

@media (max-width: 1199.98px) {
  .body_main_block {
    display: block;
  }
  .form_main_block {
    margin-right: 0;
  }
  .body_main_block__content {
    margin-bottom: 40px;
  }
  .main_block__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .main_block_body {
    margin-bottom: 40px;
  }
  .partners_main_block {
    position: relative;
    z-index: 2;
    max-width: none;
  }
  .content_main_block_body {
    padding-right: 0px;
  }
}

@media (max-width: 767.98px) {
  .partners_main_block__items {
    justify-content: center;
  }
  .content_main_block__title {
    font-size: 30px;
    line-height: 120%;
  }
  .form_main_block {
    display: block;
  }
  .form_main_block__button {
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  .form_main_block {
    background: #fff;
  }
  .form_main_block__input {
    padding: 0px 15px;
  }
}

.partners_main_block {
  max-width: 65%;
}
.partners_main_block__label {
  font-size: 17px;
  margin-bottom: 25px;
}
.partners_main_block__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.partners_main_block__item {
}

.partners_main_block__item img {
  max-width: 100%;
}
